<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-a-room" method="POST">
    <label class="sr-only" for="room-pass">Insira a senha da sala</label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Insira a senha da sala"
    />
    <button>
      <img src="/images/users_2.svg" alt="Criar sala" />Criar sala
    </button>
  </form>
</section>
